- if notice
  #notice= notice

%span.subtitle Title:
= @blog.title
%div.field
  = link_to 'Edit', edit_blog_path(@blog)
  |
  = link_to 'Back', blogs_path

%hr

%h2 Listing entries
%table
  %thead
    %tr
      %td Title
      %td Body
      %td(colspan="3")
  %tbody
    - @blog.entries.each do |entry|
      %tr
        %td= entry.title
        %td= entry.body
        %td= link_to 'Show', blog_entry_path(entry.blog_id, entry.id)
        %td= link_to 'Edit', edit_blog_entry_path(entry.blog_id, entry.id)
        %td= link_to 'Destroy', blog_entry_path(entry.blog_id, entry.id), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Entry', new_blog_entry_path(@blog.id)

